.check {
	&__inner {
	}

	&__title {
		font-weight: 800;
		font-size: 32px;
		line-height: 39px;
		text-align: center;
		color: #082148;
		margin-bottom: 44px;
	}

	&__image {
		margin-top: -42px;
		margin-bottom: 44px;
		img {
			width: 100%;
			object-fit: cover;
		}
		&_desktop {
			display: block;
		}
		&_mob {
			display: none;
		}
	}

	&__items {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 20px;
		flex-wrap: wrap;
	}

	&__item {
		background: #4dda36;
		border-radius: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 20px;
		gap: 10px;
		max-width: 310px;
		width: 100%;
		&:hover {
			background: #082148;
		}
	}

	&__text {
		font-family: $fontfamilyMontserrat;
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		line-height: 22px;
		text-align: center;
		color: #ffffff;
	}
	@media (max-width: 500px) {
		&__item {
			max-width: none;
			width: 100%;
		}
		&__image {
			&_desktop {
				display: none;
			}
			&_mob {
				display: block;
			}
		}
	}
}
