.copy {
	background: #082148;
	padding-bottom: 90px;
	padding-top: 20px;
	&__inner {
		display: flex;
		gap: 30px;
		justify-content: center;
		align-items: center;
	}

	&__item {
		display: flex;
		align-items: center;
		gap: 5px;
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
		color: #fdfffd;
	}

	&__image {
	}

	&__text {
	}

	&__line {
		width: 1px;
		height: 20px;
		background: #fff;
	}
}
.container {
}
