.custom {
	&__title {
		font-weight: 800;
		font-size: 32px;
		line-height: 39px;
		text-align: center;
		color: #082148;
	}

	&__inner {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 20px;
	}

	&__controller {
		max-width: 860px;
	}

	&__subtitle {
		font-weight: 500;
		font-size: 20px;
		line-height: 24px;
		color: #000000;
		margin-bottom: 44px;
	}
	&__text {
		margin-top: 30px;
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
		color: #000000;
	}

	&__head-slider {
	}

	&__subject {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		flex: 1 0 420px;
	}

	&__human {
	}

	&__platform {
		transform: translateY(-50%);
		width: 100%;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		img {
			object-fit: cover;
			max-width: 420px;
			width: 100%;
			height: 100%;
		}
	}

	&__colors {
		display: flex;
		align-items: center;
		gap: 23px;
	}

	&__color {
		width: 50px;
		height: 50px;
		padding: 10px;
		background: #e3e3e3;
		border-radius: 5px;
		cursor: pointer;
		border-bottom: 3px solid transparent;
		border-radius: 5px;
		&.active {
			border-bottom: 3px solid #4DDA36;	
		}
		&_1 {
			.custom__dermo {
				background: #ffcc99;
			}
		}
		&_2 {
			.custom__dermo {
				background: #ffaf77;
			}
		}
		&_3 {
			.custom__dermo {
				background: #f28f71;
			}
		}
		&_4 {
			.custom__dermo {
				background: #9c755a;
			}
		}
		&_5 {
			.custom__dermo {
				background: #9c695a;
			}
		}
		&_6 {
			.custom__dermo {
				background: #6d5550;
			}
		}
	}
	.custom__content {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}
	&__content-part {
		display: flex;
		align-items: center;
		gap: 30px;

	}
	&__part {
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
		color: #082148;
		width: 94px;
	}

	&__dermo {
		width: 100%;
		height: 100%;
		border-radius: 2px;
	}
	.head-slider {
		display: flex;
		align-items: center;
		margin-left: 0;
		max-width: 737px;
		padding-right: 88px;
		width: 100%;
		&::after {
			content: '';
			width: 78px;
			height: 100%;
			position: absolute;
			z-index: 2;
			right: 0;
			top: 0;
			background: #fff;
		}
		&__wrapper {
		}

		&__slide {
			width: 60px;
			height: 60px;
			padding: 5px;
			background: #ebebeb;
			border-radius: 5px;
			cursor: pointer;
			border-bottom: 3px solid transparent;
			border-radius: 5px;
			&.active {
				border-bottom: 3px solid #4DDA36;	
			}
		}

		// &__navigation {
		// 	width: 78px;
		// 	height: 60px;
		// 	position: absolute;
		// 	flex: 1 0 78px;
		// }
		&__button-prev,
		&__button-next {
			// left: 100%;
			left: auto;
			width: 34px;
			height: 60px;
			background: #c9cdd3;
			border-radius: 5px;
			top: 0;
			margin: 0;
			opacity: 1;
			// transform: translateX(78px);
			&::after {
				content: "";
				width: 24px;
				height: 24px;
			}
			&.swiper-button-disabled{
				&::after {
					opacity: 0.5;
				}
			}
		}
		//659 + 78 =  737
		&__button-prev {
			right: 44px;
			&::after {
				background: url("../img/icons/custom-arrow-left.svg") center / cover no-repeat;
			}
		}

		&__button-next {
			right: 0;
			&::after {
				background: url("../img/icons/custom-arrow-right.svg") center / cover no-repeat;
			}
		}
	}
	.custom-human {
		position: relative;
		width: 357.5px;
		height: 476.67px;
		margin: 0 auto;
		img {
			position: absolute;
			max-height: 477px;
		}
		&__head {
			z-index: 4;
		}

		&__right-shoulder {
		}

		&__left-shoulder {
			z-index: 3;
		}

		&__body {
			z-index: 2;
		}
		&__tshirt{
			z-index: 2;
		}

		&__right-hand {
			z-index: 4;
		}

		&__left-hand {
			z-index: 4;
		}

		&__underpants {
			z-index: 2;
		}

		&__legs {
			z-index: 1;
		}
		&__boots {
			z-index: 2;
		}
	}
}
