.header {
	background: #082148;
	height: 60px;
	width: 100%;
	position: fixed;
	z-index: 99;
	opacity: 0;
	&__inner {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__burger {
		display: none;
		span {
		}
	}
	&__logo-desktop {
	}
	&__logo {
		display: none;
	}

	&__menu {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 30px;
		width: 100%;
	}
	&__anonses {
		opacity: 0;
		display: none;
	}

	&__list {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 30px;
		height: 100%;
	}

	&__item {
		&:hover {
			text-decoration: underline;
		}
	}
	&__email {
		display: none;
	}

	&__link {
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		color: #ffffff;
	}
	&__locales {
		display: flex;
		gap: 15px;
		align-items: center;
	}

	&__locale {
		cursor: pointer;
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		color: #ffffff;
		&.active {
			text-decoration: underline;
		}
	}

	&__tokens {
	}

	&__token {
	}
	@media (max-width: 768px) {
		transition: all 0.1s ease-in;
		&__menu {
			width: 100%;
			justify-content: flex-start;
			align-items: flex-end;
			display: none;
		}
		&__logo-desktop {
			display: none;
		}
		&__locales {
			justify-content: center;
			font-size: 16px;
			line-height: 20px;
			width: 100%;
		}
		&__tokens {
			display: none;
		}
		&__logo {
			display: block;
			height: 24px;
			img {
				max-height: 100%;
			}
		}
		&__burger {
			display: block;
			height: 24px;
			width: 24px;
			position: relative;
			&::before,
			&::after {
				content: "";
				width: 20px;
				height: 2px;
				background: #fff;
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				border-radius: 20px;
			}
			&:before {
				top: 5px;
			}
			&::after {
				top: 17px;
			}
			span {
				left: 50%;
				transform: translateX(-50%);
				width: 20px;
				height: 2px;
				background: #fff;
				position: absolute;
				top: 11px;
				border-radius: 20px;
			}
		}
		&__anonses {
			background: #26416c;
			border-radius: 10px;
			width: 100%;
			padding: 20px;
			&-title {
				font-weight: 700;
				font-size: 16px;
				line-height: 20px;
				text-align: center;
				margin-bottom: 30px;
			}
			&-content {
				align-items: center;
				justify-content: center;
				flex-direction: column;
				gap: 20px;
			}
		}
		&__anons {
			justify-content: center;
			align-items: center;
			display: flex;
			gap: 10px;
			font-weight: 500;
			font-size: 16px;
			line-height: 20px;
			text-align: center;
			color: #ffffff;
			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}
		&__image {
			img {
				max-height: 100%;
			}
		}

		&__email {
			display: flex;
			align-items: center;
			gap: 5px;
			width: 100%;
			justify-content: center;
		}

		&__email-image {
		}

		&__email-text {
			font-weight: 500;
			font-size: 18px;
			line-height: 22px;
			color: #fdfffd;
		}

		&.active {
			height: 100%;
			.header__anonses {
				opacity: 1;
				display: block;
			}
			.header__inner {
				opacity: 1;
				align-items: flex-end;
				justify-content: flex-start;
				flex-direction: column;
				gap: 45px;
				padding: 18px 15px;
			}
			.header__burger {
				&::before {
					left: 2px;
					top: 12px;
					transform: rotate(-45deg);
				}
				span {
					display: none;
				}
				&::after {
					top: 12px;
					left: 2px;
					transform: rotate(45deg);
				}
			}
			.header__logo {
				display: none;
			}
			.header__menu {
				opacity: 1;
				display: flex;
				flex-direction: column;
				gap: 45px;
				overflow-y: auto;
			}
			.header__list {
				justify-content: flex-start;
				flex-direction: column;
				align-items: flex-end;
				gap: 25px;
				height: auto;
			}
		}
	}
}
