.investor {
	&__inner {
	}

	&__title {
		font-weight: 800;
		font-size: 32px;
		line-height: 39px;
		text-align: center;
		color: #082148;
		margin-bottom: 40px;
	}

	&__items {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 20px;
		flex-wrap: wrap;
	}

	&__item {
		background: url("../img/investor-bg.png") center / cover no-repeat;
		border-radius: 6px;
		padding: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;
		flex: 1 0 310px;
		height: 100%;
		height: 150px;
	}

	&__image {
		img {
			max-height: 41px;
		}
	}

	&__text {
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;

		color: #000000;
	}
	@media (max-width: 500px) {
		&__item {
			height: 100%;
		}
	}
}
