.main {
	&__inner {
		// padding-top: 80px;
		position: relative;
		min-height: 100vh;
		position: relative;
	}
	&__tv {
		width: 90%;
		height: 62.78%;
		position: absolute;
		top: 8%;
		left: 50%;
		transform: translateX(-50%);
		top: -200%;
		object-fit: contain;
		&.animate {
			animation-delay: 3s;
			animation: 3s tvAnime;
			animation-fill-mode: forwards;
		}
		// top: 8%;
	}

	&__delimetr {
		font-weight: 700;
		font-size: 22px;
		line-height: 27px;
		text-align: center;
		color: #000000;
	}

	&__dendy {
		width: 42.35%;
		height: 18.916%;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		// z-index: 3;
		bottom: 7.9131%;
		opacity: 0;
		min-width: 279px;
		&.active {
			animation: 3s dendyTrans;
			animation-fill-mode: forwards;
		}
		&::before {
			content: "";
			position: absolute;
			background: url("../img/dendy.svg") center / contain no-repeat;
			width: 100%;
			height: 100%;
			max-width: 100%;
		}
	}
	&__yazik {
		position: absolute;
		width: 42.35%;
		height: 18.916%;
		left: 50%;
		bottom: 7.9131%;
		transform: translateX(-50%);
		z-index: 5;
		opacity: 0;
		min-width: 279px;

		&.active {
			animation: 3s dendyTrans;
			animation-fill-mode: forwards;
		}
	}
	&__catridge {
		position: absolute;
		margin: 0 auto;
		width: 51%;
		height: 40.78%;
		top: 7.5%;
		left: 50%;
		transform: translateX(-50%);
		z-index: 4;
		min-width: 336px;

		&::before {
			content: "";
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			position: absolute;
			background: url("../img/main-cat-logo.png") top / contain no-repeat;
			z-index: 2;
			bottom: 0;
		}
		&.anime {
			animation: 3s transformer linear, 3s scalable linear;
			animation-fill-mode: forwards;
			&::before {
				animation: 3s mainAnime;
				animation-fill-mode: forwards;
			}
			&::after {
				content: "";
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				position: absolute;
				background: url("../img/epmty-cas.svg") top / contain no-repeat;
				z-index: 1;
				animation: 3s mainAnime;
				animation-fill-mode: forwards;
				bottom: 0;
			}
		}
	}

	&__catridge-inner {
	}

	&__project {
		position: absolute;
		top: 50.75%;
		left: 50%;
		transform: translateX(-50%);

		&.anime {
			animation: 3s projTrans;
			animation-fill-mode: forwards;
		}
	}

	&__project-title {
		font-weight: 700;
		font-size: 22px;
		line-height: 27px;
		text-align: center;
		text-transform: uppercase;
		color: #000000;
		margin-bottom: 80px;
	}

	&__project-content {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 40px;
	}

	&__awards {
		height: 127px;
	}

	&__delimetr {
	}

	&__ceo {
	}

	&__button {
		position: absolute;
		display: flex;
		flex-direction: column;
		left: 50%;
		bottom: 0px;
		gap: 20px;
		align-items: center;
		justify-content: center;
		transform: translateX(-50%);
		padding: 10px 20px;
		background: #ebebeb;
		border-radius: 10px 10px 0px 0px;
		&.anime {
			animation: 3s arrowTrans;
			animation-fill-mode: forwards;
		}
	}

	&__button-title {
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		color: #000000;
	}

	&__button-arrow {
		transition: all 0.5s;
		animation: infinite arrowAnime 1s;
	}
	@media (max-width: 996px) {
		&__project {
			top: 41%;
		}
		&__project-content {
			flex-direction: column;
			gap: 20px;
		}
		&__catridge {
		}
	}
	@media (max-width: 500px) {
		&__project {
			top: 300px;
			width: calc(100% - 40px);
		}
		&-awards__content {
			flex-wrap: wrap;
			justify-content: center;
		}
		&-awards {
			height: auto;
			background: #f4f4f4;
			border-radius: 10px;
			width: 100%;
			padding: 20px;
		}
		&__ceo {
			background: #f4f4f4;
			border-radius: 10px;
			width: 100%;
			padding: 20px;
		}
		&__button {
			display: none;
		}
		&__dendy::before {
			background-position: 0 34%;
		}
		&__yazik {
			bottom: 9%;
		}
	}
}

.main-awards {
	&__title {
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
		text-align: center;
		color: #000000;
		margin-bottom: 40px;
	}

	&__content {
		display: flex;
		align-items: center;
		gap: 30px;
	}

	&__award {
	}
}
.main-ceo {
	&__title {
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
		text-align: center;
		color: #000000;
		margin-bottom: 20px;
	}

	&__content {
		display: flex;
		align-items: center;
		gap: 60px;
	}

	&__item {
	}
}

@keyframes mainAnime {
	0% {
		opacity: 0;
		background-position: top;
	}
	100% {
		opacity: 1;
		background-position: bottom;
	}
}

@keyframes transformer {
	0% {
		top: 7.5%;
	}
	100% {
		top: 32%;
	}
}

@keyframes projTrans {
	0% {
		opacity: 1;
		top: 0;
	}
	100% {
		opacity: 0;
		display: none;
		top: 200%;
	}
}

@keyframes arrowTrans {
	0% {
		opacity: 1;
		bottom: 80px;
	}
	100% {
		opacity: 0;
		display: none;
		bottom: -200%;
	}
}

@keyframes tvAnime {
	0% {
		top: -200%;
	}
	100% {
		top: 8%;
	}
}

@keyframes scalable {
	0% {
		transform: translateX(-50%) scale(1);
	}
	100% {
		transform: translateX(-50%) scale(0.457);
		top: 49%;
	}
}

@keyframes dendyTrans {
	0% {
		bottom: -200%;
		opacity: 0;
	}
	50% {
	}
	100% {
		opacity: 1;
		bottom: 7.9131%;
	}
}

@keyframes arrowAnime {
	0% {
		transform: translateY(0px);
	}
	100% {
		transform: translateY(-20px);
	}
}
