.store {
	width: 100%;
	background: #082148;
	padding: 60px 0;
	&__inner {
	}

	&__title {
		font-family: $fontfamilyRobotoSlab;
		font-weight: 900;
		font-size: 32px;
		line-height: 42px;
		text-align: center;
		color: #fdfffd;
		margin-bottom: 30px;
	}

	&__subtitle {
		font-family: $fontfamilyMontserrat;
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
		text-align: center;
		color: #fdfffd;
		margin-bottom: 40px;
	}

	&__slider {
	}
	&__soon {
	}

	&__soon-title {
		font-weight: 700;
		font-size: 22px;
		line-height: 27px;
		text-align: center;
		color: #fdfffd;
		margin-top: 60px;
		margin-bottom: 41.5px;
	}

	&__soon-items {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 31px;
		flex-wrap: wrap;
	}

	&__soon-item {
		display: flex;
		align-items: center;
		gap: 10px;
	}

	&__soon-image {
	}

	&__soon-text {
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
		color: #ffffff;
	}
}

.store-slider {
	&__wrapper {
	}

	&__item {
		max-height: 250px;
		max-width: 175px;
		height: 100%;
		background: #ffffff;
		border-radius: 5.88957px;
		border-radius: 6px;
		padding: 5px 5px 25px 5px;
		&.swiper-slide-visible {
			opacity: 0.5;
		}
		&.swiper-slide-prev,
		&.swiper-slide-next {
			opacity: 0.8;
		}
		&.swiper-slide-active {
			opacity: 1;
		}
	}

	&__image {
		padding: 2px 2px 0 2px;

		img {
			max-width: 100%;
			border-top-left-radius: 6px;
			border-top-right-radius: 6px;
			height: 100%;
			width: 100%;
		}
	}

	&__info {
		padding: 15px;
	}

	&__text {
	}
	&__navigation {
		position: relative;
		max-width: 554px;
		width: 100%;
		height: 60px;
		margin: 40px auto 0 auto;
	}
	&__button-prev.swiper-button-prev,
	&__button-next.swiper-button-next {
		position: absolute;
		top: 0;
		transform: translateY(50%);
		background: rgba(253, 255, 253, 0.3);
		border-radius: 6.72301px;
		width: 52px;
		height: 52px;
		&::after {
			content: "";
			width: 24px;
			height: 24px;
		}
	}
	&__button-prev {
		left: 0;
		&::after {
			position: absolute;
			background: url("../img/icons/arrow-left.svg") center no-repeat;
		}
	}
	&__button-next {
		right: 0;
		&::after {
			background: url("../img/icons/arrow-right.svg") center no-repeat;
		}
	}
	&__pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
		position: absolute;
		display: flex;
		justify-content: space-between;
		align-items: center;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		max-width: calc(100% - 204px);
		width: 100%;
		height: 10px;
		.swiper-pagination-bullet {
			width: 100%;
			border-radius: 3px;
			background: #fdfffd;
		}
		.swiper-pagination-bullet-active {
			background: #4dda36;
		}
	}

	@media (max-width: 1090px) {
		&__wrapper {
			max-width: 700px;
		}
		&__pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
			max-width: calc(100% - 140px);
		}
	}
}
