.tokenomic {
	&__inner {
		background: #082148;
		border-radius: 10px;
		padding: 50px;
	}

	&__title {
		font-weight: 800;
		font-size: 32px;
		line-height: 39px;
		text-align: center;
		color: #fdfffd;
		margin-bottom: 40px;
	}

	&__content {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 20px;
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		height: 100%;
		max-width: 184px;
		flex-wrap: wrap;
	}
	@media (max-width: 500px) {
		&__inner {
			padding: 50px 20px;
			border-radius: 0;
		}
		&__content {
			gap: 30px 0;
		}
		&__item {
			align-items: center;
			flex-direction: row;
			gap: 8px;
			max-width: 159.5px;
		}
		&__item:nth-child(1) {
			align-items: flex-start;
			flex-direction: column;
		}
		&__item:nth-child(4) {
			align-items: flex-start;
			flex-direction: column;
		}
		&__item:last-child {
			width: 100%;
			max-width: 100%;
			justify-content: center;
		}
	}
}
.tokenomic-item {
	&__image {
		margin-bottom: 5px;
	}

	&__title {
		font-family: $fontfamilyRobotoSlab;
		font-weight: 700;
		font-size: 22px;
		line-height: 29px;
		color: #4dda36;
		margin-bottom: 10px;
		br {
			display: none;
		}
	}
	&__text {
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		color: #ffffff;
	}
	@media (max-width: 500px) {
		&__image {
			margin: 0;
		}
		&__title {
			margin: 0;
		}
		&__title {
			br {
				display: block;
			}
		}
	}
}
